{% extends "base.html" %}

{% load staticfiles %}
{% block content %}
{% include 'operations_nav.html' %}

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Recent Hazards</h1>
          </div>
            {% for risk in risk_list%}
            <div class=" col-md-9 col-md-offset-3">
        <div class="panel panel-default">
              <div class="panel-heading"><b>Hazard {{risk.report_no}} Details </b></div>
            <hr>
              <div class="panel-body">
                  <div class="row">
                      <div class="col-md-6">Station : {{ detailed_report.station }}</div>
                      <div class="col-md-6">Location : {{ detailed_report.location_of_incident}}</div>
                  </div>
                  <div class="row">
                      <div class="col-md-6">Date : {{ detailed_report.date_of_incident }}</div>
                      <div class="col-md-6">Time  : {{ detailed_report.time_of_incident}}</div>
                  </div>
                  <div class="row">
                      <div class="col-md-6"> Hazard Type : {{ detailed_report.hazard_type}}</div>
                      <div class="col-md-6">Hazard Category : {{ detailed_report.hazard_category}}</div>
              </div>
                  <br>
                  <div class="row">
                          <div class="col-md-12"> <h6>Risk Rating </h6>
                              <p>{{ detailed_report.incident_detail}}</p></div>
              </div>
                      <div class="row">
                          <div class="col-md-12"> <h6>Hazard Description </h6>
                              <p>{{ detailed_report.incident_detail}}</p></div>
              </div>
                   <div class="row">
                          <div class="col-md-12"> <h6>Proposed Mitigation </h6>
                              <p>{{ detailed_report.proposed_mitigation}}</p></div>
              </div>
                  <div class="row">
                      <div class="col-md-6"> Reported By  : {{ detailed_report.reporter_name}}</div>
              </div>
              </div>
        </div>

          </div>
            {% endfor %}
<!--          <div class="table-responsive">-->
<!--            <table class="table table-striped table-sm">-->
<!--              <thead>-->
<!--                <tr>-->
<!--                    <th> Report #</th>-->
<!--                    <th>Station</th>-->
<!--                    <th>Loacation</th>-->
<!--                    <th>Date</th>-->
<!--                    <th>Details</th>-->
<!--                    <th>Likelyhood</th>-->
<!--                    <th>Severity</th>-->
<!--                    <th>Rating</th>-->
<!--                  <th>View</th>-->
<!--                </tr>-->
<!--              </thead>-->
<!--              <tbody>-->
<!--              {% for risk in risk_list %}-->
<!--                    <tr>-->
<!--                        <td><a href="#">{{risk.report_no}}</a></td>-->
<!--                        <td>{{risk.station}}</td>-->
<!--                        <td>{{risk.location_of_incident}}</td>-->
<!--                        <td>{{risk.date_of_incident}}</td>-->
<!--                        <td>{{risk.incident_detail|truncatewords:3}}</td>-->
<!--                        <td>{{risk.likelyhood}}</td>-->
<!--                        <td>{{risk.severity}}</td>-->
<!--                         <td>{{risk.severity}}</td>-->
<!--                        <td><a href="#"><i class="far fa-eye"></i></a></td>-->


<!--                    </tr>-->
<!--               {% endfor %}-->
<!--              </tbody>-->
<!--            </table>-->

<!--          </div>-->

             </main>
{% endblock %}