{% extends "base.html" %}

{% load staticfiles %}
{% block content %}
{% include 'nav.html' %}

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Search ***Training Records</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
              </button>
            </div>
          </div>


<p>
  <a class="btn btn-primary btn-sm" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Search by Date</a>
  <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Search Employee Record</button>
  <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2"> Dual View</button>
</p>
<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <div class="card card-body">
          <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Training Date</label>
                <input type="date" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="training date" name="td">
                <small id="dateHelp" class="form-text text-muted">Search a specific training date.</small>
              </div>

              <button type="submit" class="btn btn-primary btn-sm">Submit</button>
            </form>

      </div>
    </div>
  </div>
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample2">
      <div class="card card-body">
       <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Employee Number</label>
                <input type="number" class="form-control form-control-sm" id="staff_number" aria-describedby="searchHelp" placeholder="Staff code" name="eey">
                <small id="searchHelp" class="form-text text-muted">Employee Search.</small>
              </div>

              <button type="submit" class="btn btn-primary btn-sm">Submit</button>
            </form>
      </div>
    </div>
  </div>
</div>

          <hr>

             </main>


{% endblock %}
