{% extends "base.html" %}

{% load staticfiles %}
{% block content %}
{% include 'nav.html' %}

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2"> {{notTrainedCount}} # Employees without initial training </h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
              </button>
                  </div>
            </div>



<form class="form-inline">
    <label>Course</label>
      <div class="col-md-2">

          <select style="width: 100%" class="form-control form-control-sm "  name="p">

              <option selected="selected" value="0"> </option>
              {% for c in courseList %}
              <option value="{{c.id}}">{{c.course_name}}</option>
              {% endfor %}
          </select>
      </div>
             <label>Department</label>
             <div class="col-md-2">
          <select style="width: 100%" class="form-control form-control-sm"  name="q">
              <option selected="selected" value="0"> </option>
              {% for d in departmentList %}
              <option value="{{d.id}}">{{d.department_name}}</option>
              {% endfor %}
          </select>
      </div>
            <label>Section</label>
             <div class="col-md-2">
          <select style="width: 100%" class="form-control form-control-sm"  name="s">
              <option selected="selected" value="0"> </option>
              {% for s in sectionList %}
              <option value="{{s.id}}">{{s.section_name}}</option>
              {% endfor %}
          </select>
      </div>

            <div class="col-md-2">
                <label></label>
             <input class="btn btn-info btn-sm" type="submit" value="filter">
            </div>

        </form>
    <br>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                   <th>Staff #</th>
                  <th>Name</th>
                  <th>Surname</th>
                  <th>Department</th>
                    <th>Section</th>
                  <th>Job title</th>

                </tr>
              </thead>
              <tbody>
                {% for f in notTrained %}
                    <tr>
                      <td>{{f.staff_number}}</td>
                      <td>{{f.employee_name}}</td>
                      <td>{{f.employee_surname}}</td>
                        <td>{{f.department}}</td>
                        <td>{{f.section}}</td>
                        <td>{{f.job_title}}</td>

                    </tr>
              {% endfor %}

              </tbody>
            </table>

                       <div class="pagination">
    <span class="step-links">
    {% if notTrained.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ notTrained.previous_page_number }}">previous</a>
    {% endif %}
    <span class="current">
        Page {{ notTrained.number }} of {{ notTrained.paginator.num_pages }}.
    </span>
    {% if notTrained.has_next %}
        <a href="?page={{ notTrained.next_page_number }}">next</a>
        <a href="?page={{ notTrained.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
    </span>
    </div>

          </div>
        </main>

{% endblock %}
    <!--&lt;!&ndash; Bootstrap core JavaScript-->
    <!--================================================== &ndash;&gt;-->
    <!--&lt;!&ndash; Placed at the end of the document so the pages load faster &ndash;&gt;-->
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <!--<script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>-->
    <!--<script src="../../../../assets/js/vendor/popper.min.js"></script>-->
    <!--<script src="../../../../dist/js/bootstrap.min.js"></script>-->

    <!--&lt;!&ndash; Icons &ndash;&gt;-->
    <!--<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>-->
    <!--<script>-->
      <!--feather.replace()-->
    <!--</script>-->

    <!--&lt;!&ndash; Graphs &ndash;&gt;-->

  <!--</body>-->
<!--</html>-->
